<!DOCTYPE html>
<html lang="de">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/static/dayjs.min.js"></script>
        <script async src="https://events.keingenie.de/static/events.js"></script>
        <style>
            body {font-size: 110%;}
        </style>


        <title>Nachrichten</title>
    </head>
    <h3>Keingenies News</h3>
    <h5>Ein Newsaggregator in Entwicklung. Warum? Lernzwecke. Anregungen, Bugs und andere Angelegenheiten an moritz(ät)keingenie.de</h5>
    <hr>
    <body>
        {% block entries %}
        {% endblock %}
    </body>
</html>
